[package]
name = "um"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
console = "0.15.7"
num = "0.4.1"
num-derive = "0.4.1"
num-traits = "0.2.17"
